.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%) scale(0, 0);
  opacity: 0;
  display: flex;
  place-items: center;
  place-content: center;
}

.modal__open {
  transform: translate(-50%, -50%) scale(1, 1);
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.modal__animation {
  transition: all 0.3s ease-in-out;
}

.modal__wrapper {
  background: whitesmoke;
  min-width: 230px;
  min-height: 200px;
  color: #333333;
  opacity: 0.9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
